<% px = @puzzle.x_size %>
<% py = @puzzle.y_size %>
<% pc = @puzzle.counts %>

<div class="topbar">
	<div style="float:left">
	<%= @puzzle.name %><br>
	<%= px.to_s + "x" + py.to_s %>
	</div>

	<div style="float:right">
		Lives: <section id="lives"></section>
	</div>
</div>

<center><div class="gameboard" style=<%= "width:#{@puzzle.board_width + 1}px" %>>
	<div class="column-counts" style='<%= "float:right; height:#{@puzzle.column_counts_height}px; width:100%;" %>'>
		<% pc[1].reverse.each do |a| %>
			<div class="column-count-column" style='<%= "height:100%; width:#{@puzzle.cell_size}px; float:right; position:relative" %>'>
				<% bottom_value = 0 %>
				<% a.reverse.each do |c| %>
					<div class="count-cell"style="width:<%= @puzzle.cell_width %>px; height: <%= @puzzle.cell_width %>px; border: <%= @puzzle.border %>px solid; position:absolute; bottom: <%= bottom_value %>px"><%= c %></div>
					<% bottom_value += @puzzle.cell_size %>
				<% end %>
			</div>
		<% end %>
	</div>

	<div class="row-counts" style='<%= "float:left; clear:both; height:#{@puzzle.row_counts_height}px; width:#{@puzzle.row_counts_width}px" %>'>
		<% pc[0].each do |a| %>
			<div class="row-count-row" style="float:right; width: 100%">
				<% a.reverse.each do |c| %>
					<div class="count-cell" style="width:<%= @puzzle.cell_width %>px; height: <%= @puzzle.cell_width %>px; border: <%= @puzzle.border %>px solid black;"><%= c %></div>
				<% end %>
			</div>
		<% end %>
	</div>

	<div class="grid">
	<% ci = 0 %>
	<% py.times do |r| %>
		<div class="column" style="float: left;">
			<% ri = 0 %>
			<% px.times do |c| %>
				<div class="cell" id= <%= "x" + ci.to_s + "y" + ri.to_s %> style="width:<%= @puzzle.cell_width %>px; height: <%= @puzzle.cell_width %>px; border: <%= @puzzle.border %>px solid;"></div>
				<% ri += 1 %>
			<% end %>
			<% ci += 1 %>
		</div>
	<% end %>
	</div>
</div></center>