<% px = @puzzle.x_size %>
<% py = @puzzle.y_size %>

<%= @puzzle.name %><br>
<%= px.to_s + "x" + py.to_s %><br><br>

<div class="gameboard" style=<%= "width:#{@puzzle.board_width}px" %>>
	<div class="column-counts" style='<%= "float:right; background-color:gray; height:#{@puzzle.column_counts_height}px; width:100%;" %>'>
		
	</div>

	<div class="row-counts" style='<%= "float:left; clear:both; background-color:gray; height:#{@puzzle.row_counts_height}px; width:#{@puzzle.row_counts_width}px" %>'></div>

	<div class="grid">
	<% ci = 0 %>
	<% py.times do |r| %>
		<div class="row" style="float: left;">
			<% ri = 0 %>
			<% px.times do |c| %>
				<div class="cell" id= <%= "x" + ci.to_s + "y" + ri.to_s %> style="background-color: DimGray; width:<%= @puzzle.cell_width %>px; height: <%= @puzzle.cell_width %>px; border: <%= @puzzle.border %>px solid;"></div>
				<% ri += 1 %>
			<% end %>
			<% ci += 1 %>
		</div>
	<% end %>
	</div>
</div>